@font-face {
    font-display: block;
    font-family: "Font";
    src: url("../fonts/Font.woff2") format("woff2-variations");
    font-style: normal;
    font-weight: 200 1000;
}

html {
    line-height: 1.25;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 0.95rem;
    font-weight: 420;
    font-style: normal;
    font-family: "Font", sans-serif;
    font-variation-settings:
        "slnt" 0,
        "MONO" 0.25;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-y: scroll;
    paint-order: stroke fill markers;
}

svg {
    align-content: normal;
    display: inline-block;
    vertical-align: middle;
    width: 1.25rem;
    height: 1.25rem;
    fill: currentColor;
}

figure {
    margin: 0;
}

.gallery {
    position: relative;
    width: 100%;
}

.gallery img {
    display: none;
    max-width: 100%;
    max-height: 100%;
}

.gallery .arrow-left-container,
.gallery .arrow-right-container {
    width: 20%;
    height: 100%;
    position: absolute;
}

.gallery .arrow-left-container {
    left: 0;
}
.gallery .arrow-right-container {
    right: 0;
}

.gallery .arrow-left,
.gallery .arrow-right {
    display: none;
    position: absolute;
    top: 47%;
    opacity: 0.9;
    z-index: 2;
    width: 25%;
}

@media screen and (min-width: 701px) {
    .gallery:hover .arrow-left,
    .gallery:hover .arrow-right {
        display: block;
    }
}

.gallery .arrow-left {
    left: 0;
    transform: rotate(-90deg);
}

.gallery .arrow-right {
    right: 0;
    transform: rotate(90deg);
}

hr {
    margin: 0 0.75rem 0;
}

figcaption {
    font-size: 0.85rem;
    color: rgba(0, 0, 0, 0.5);
    margin: 0.25rem 0 0.25rem;
}

a {
    -webkit-text-stroke: 0.2rem #fff;
    paint-order: stroke fill markers;
    font-size: 0.95rem;
    font-weight: 400;
    margin: 0;
    background-color: transparent;
    text-decoration-line: none;
    text-decoration-color: black;
    color: inherit;
}

a:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-offset: 0.1rem;
}

#screen {
    box-sizing: border-box;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

#offscreen {
    box-sizing: border-box;
    padding: 0 0 0;
    width: 100%;
}

#footer {
    padding: 1.25rem 0 0;
}

#footer #rail {
    padding: 0.5rem 0 0.5rem;
}

#footer #trademark-footer {
    color: rgba(0, 0, 0, 0.5);
}

main {
    display: block;
}

.fill {
    height: 100%;
}

p {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

img.pixel {
    image-rendering: pixelated;
}

/*#new-balance img {*/
/*    object-fit: cover;*/
/*}*/

img {
    border-style: none;
    overflow-clip-margin: border-box;
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

.hidden,
[hidden] {
    display: none !important;
}

.highlight .dropdown-content {
    display: block;
}

.title {
    position: fixed;
}

.header {
    flex-grow: 1;
    padding: 0;
    height: 100%;
}

@media screen and (min-width: 700px) {
    .dropdown-content {
        visibility: hidden;
    }

    .dropdown:hover .dropdown-content {
        visibility: visible;
    }
}

@media screen and (max-width: 700px) {
    figcaption {
        overflow-wrap: break-word;
    }

    #offscreen {
        max-width: 900px;
    }
}
