.section {
    box-sizing: border-box;
    display: grid;
    padding: 0 0 8rem;
    min-width: 100%;
}

.grid-description {
    padding: 0.75rem;
}

.media-item {
    padding: 0.75rem;
}

.icon-section {
    padding: 0;
}

.overlay-x {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0);
    /*box-shadow: inset 0 0 10px rgba(255, 255, 255, 1); !* Inset shadow *!*/
    box-shadow: inset 3rem 0 3rem white,
    inset -3rem 0 3rem white; /* Inset shadow */
    pointer-events: none; /* Ensure clicks go through to the image */
}

.overlay-y {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0);
    /*box-shadow: inset 0 0 10px rgba(255, 255, 255, 1); !* Inset shadow *!*/
    box-shadow: inset 0 3rem 3rem white,
    inset 0 -3rem 3rem white;
    pointer-events: none;
}

@media screen and (min-width: 701px) {
    .section {
        overflow-x: visible;
        flex-flow: row nowrap;
        grid-template-columns: repeat(8, minmax(0, 1fr));
    }

    .grid-title {
        grid-column-start: 1;
        grid-column-end: 2;
        padding: 0.75rem 0.75rem 0.75rem 1.5rem;
    }

    .grid-description {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .media-section {
        box-sizing: border-box;
        display: flex;
        height: 100%;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

        grid-column-start: 4;
        grid-column-end: 9;

        padding: 0.75rem 0 0.75rem;

        &::-webkit-scrollbar {
            display: none;
        }

        & .media-item {
            padding: 0 0.75rem 0;
            box-sizing: border-box;
        }
    }

    .icon-section {
        grid-row-start: 2;
        grid-row-end: 3;

        grid-column-start: 1;
        grid-column-end: 9;

        margin-right: 0;
        margin-left: auto;
    }

    .break {
        flex-basis: 100%;
        height: 0;
    }

    .normal-1-2,
    .desktop-1-2 {
        width: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .section-reverse {
        flex-direction: row-reverse;
    }

    .desktop-70 {
        width: 70%;
    }

    .desktop-60 {
        width: 60%;
    }

    .desktop-55 {
        width: 55%;
    }

    .desktop-45 {
        width: 45%;
    }

    .desktop-40 {
        width: 40%;
    }

    .desktop-35 {
        width: 35%;
    }

    .desktop-30 {
        width: 30%;
    }

    .desktop-25 {
        width: 25%;
    }

    .desktop-20 {
        width: 20%;
    }

    .desktop-15 {
        width: 15%;
    }

    .desktop-10 {
        width: 10%;
    }

    .desktop-5 {
        width: 5%;
    }

    .desktop-1-8 {
        min-width: 12.5dvw;
        width: 12.5dvw;
    }

    .desktop-2-8 {
        min-width: 25dvw;
        width: 25dvw;
    }

    .desktop-3-8 {
        min-width: 37.5dvw;
        width: 37.5dvw;
    }
}

@media screen and (max-width: 700px) {
    .section {
        flex-direction: column;
    }

    .grid-title {
        padding: 0.75rem;

        order: 1;
    }

    .grid-description {
        order: 2;
    }

    .normal-1-2 {
        width: 100%;
    }
}
