.normal-1-6 {
    width: 16.66%;
    padding: 0 0.75rem 0;
}

.normal-2-6 {
    width: 33.32%;
    padding: 0 0.75rem 0;
}

.pure-g {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    width: 100%;
}

.header {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    width: 100%;
}

@media screen and (min-width: 700px) {

    .wide-4, .slim-4, .normal-1-6, .normal-2-6 {
        display: flex;
        flex-direction: column;
        vertical-align: baseline;
        text-rendering: auto;
        box-sizing: border-box;
    }

    .wide-4 {
        width: 27%;
    }

    .slim-4 {
        width: 19%;
    }

    .column-container {
        padding: 0 0.75rem 0;
    }
}

@media screen and (max-width: 700px) {
    .header {
        display: flex;
        flex-flow: column;
        align-content: flex-start;
        width: 100%;
    }

    .wide-4, .slim-4 {
        display: flex;
        flex-direction: column;
        vertical-align: baseline;
        text-rendering: auto;
        box-sizing: border-box;
    }

    .normal-1-6, .normal-2-6 {
        display: flex;
        flex-direction: column;
        vertical-align: baseline;
        text-rendering: auto;
        box-sizing: border-box;
    }
}