.slider {
    position: relative;
}
.slider ul {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 50%;
    scrollbar-width: none;
    scroll-padding-left: 0px;
    scroll-padding-inline-start: 0px;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}
.slider ul::-webkit-scrollbar {
    display: none;
}

.slider ul li {
    padding: 0 20px 0 0;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 25vw;
    justify-content: flex-end;
}

.slider ul li::marker {
    display: none;
}
