@media screen and (min-width: 701px) {
    .heading {
        animation: drop ease;
        animation-duration: 1s;
    }
}

@keyframes drop {
    from {
        transform: translate(0px, -37px);
    }
    to {
        transform: translate(0px, 0px);
    }
}