.section {
    box-sizing: border-box;
    display: inline-flex;
    padding: 0;
    width: 100%;
}

.section-divider {
    height: 8rem;
    width: 100%;
}

div.highlight {
    padding: 0.75rem 0 0.75rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.0);
    /*box-shadow: inset 0 0 10px rgba(255, 255, 255, 1); !* Inset shadow *!*/
    box-shadow: inset 3rem 0 3rem white,
                inset -3rem 0 3rem white; /* Inset shadow */
    pointer-events: none; /* Ensure clicks go through to the image */
}

.section > *:not(.empty) {
    padding: 0.5rem 0.75rem 0.5rem;
    box-sizing: border-box;
}

.section > .empty {
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 701px) {
    .normal-1-2, .desktop-1-2 {
        width: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .text {
        position: sticky;
    }

    .section {
        flex-wrap: wrap ;
    }

    .section-reverse {
        flex-direction: row-reverse;
    }

    .desktop-70 {
        width: 70%;
    }

    .desktop-60 {
        width: 60%;
    }

    .desktop-35 {
        width: 35%;
    }

    .desktop-30 {
        width: 30%;
    }

    .desktop-25 {
        width: 25%;
    }

    .desktop-20 {
        width: 20%;
    }

    .desktop-15 {
        width: 15%;
    }

    .desktop-10 {
        width:10%
    }
}

@media screen and (max-width: 700px) {
    .section {
        flex-direction: column;
    }

    .text {
        order: 1;
    }

    .normal-1-2 {
        width: 100%;
    }
}