#index .highlight, #offscreen .highlight, #archive-arrow {
    color: rgb(255, 59, 228);
    text-decoration-color: rgb(255, 59, 228);
}

#index .dropdown-content {
    visibility: visible;
}

#new-balance > img {
    object-fit: cover;
}

@media screen and (min-width: 701px) {
    #screen {
        height: 100svh;
    }

    #bio {
        width: 27%;
        padding-top: 1.5rem;
    }
}

@media screen and (max-width: 700px) {
    #bio {
        padding-top: 1.5rem;
        height: 90svh;
    }

    #screen {
        height: 90svh;
    }

    .header #index {
        height: 100%;
    }

    .header .dropdown:not(#index) {
        height: fit-content;
    }

    .header #personal {
        margin-top: auto;
    }

    .dropdown-content {
        display: none;
    }

    #index .dropdown-content {
        display: block;
    }
}
