{% extends 'base.html' %}

{% from "macros.html" import image, gallery, project %}

{% block head %}
<title>OLIVIA ZUO - PERSONAL</title>
<link rel="icon" type="image/x-icon"
      href="https://image-resizer.simonpforster.com/oliviazuo-portfolio/elements/element-cyan.png?width=480">

<link rel="stylesheet" href="{{ url_for('static', filename='styles/page/personal.css') }}">
{% endblock %}

{% block screen %}

{% endblock %}

{% block offscreen %}
<div class="column-container">
    <div class="section" id="alwfav-8">
        <div class="grid-title">
            <div class="essentials">
                <div class="highlight">A Line which Forms a Volume 8</div>
                <div class="year">2025</div>
                <div class="types">
                    <div>Collaboration</div>
                    <div>Editorial Design</div>
                </div>
            </div>
            <div class="reference-section">
                <div>
                    <a href="https://www.instagram.com/p/DFqco1TohKw/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA%3D%3D&img_index=1">Instagram</a>
                </div>
            </div>
        </div>
        <div class="grid-description">
            <div>
                The 8th <i>A Line which Forms a Volume</i> explores the concept of ‘refraction’ as a means of
                facilitating and
                understanding design, research, and collaboration. 
            </div>
        </div>
        <div class="media-section">
            <div class="media-item desktop-3-8">
                {{ image("/personal/2025/alwfav-8/scan-cover.jpg") }}
            </div>
            <div class="media-item desktop-3-8">
                {{ image("/personal/2025/alwfav-8/scan-rerendered-memory-with-cover.jpg") }}
            </div>
            <div class="media-item desktop-3-8">
                {{ image("/personal/2025/alwfav-8/scan-conversation.jpg") }}
            </div>
        </div>
    </div>

    <div class="section" id="rerendered-memory">
        <div class="grid-title">
            <div class="essentials">
                <div class="highlight">Rerendered Memory</div>
                <div class="year">2024</div>
                <div class="types">
                    <div>Editorial Design</div>
                    <div>Type Design</div>
                    <div>Video Production</div>
                </div>
            </div>
            <div class="reference-section">
                <div><a href="https://vimeo.com/1061780383">Full Video</a></div>
                <div><a href="https://ualshowcase.arts.ac.uk/project/600923/cover">Online Showcase</a></div>
            </div>
        </div>
        <div class="grid-description">
            <div>
                The rising trend of ‘tech-nostalgia’ reflects a fascination with using old technologies and faux-vintage
                aesthetics in modern media.
            </div>
            <div>
                By investigating the iterative process of digital images in screen devices, <i>Rerendered Memory</i>
                explores
                the transition from ‘technologies of memory’ to ‘memory of technologies’ within the context of the
                reminiscence of past media technologies in contemporary memory practices.
            </div>
        </div>
        <div class="media-section">
            <div class="media-item desktop-3-8">
                {{ image("/personal/2024/rerendered-memory/combine-scan.jpg") }}
            </div>
            <div class="media-item desktop-3-8">
                {{ image("/personal/2024/rerendered-memory/poster-picture-printer.jpg") }}
            </div>
            <div class="media-item desktop-3-8">
                {{ image("/personal/2024/rerendered-memory/poster-scan.jpg") }}
            </div>
        </div>
    </div>

    <div class="section" id="spectral-archive">
        <div class="grid-title">
            <div class="essentials">
                <div class="highlight">Spectral Archive</div>
                <div class="year">2023</div>
                <div class="types">
                    <div>Editorial Design</div>
                    <div>Type Design</div>
                </div>
            </div>
        </div>
        <div class="grid-description">
            <div>
                <i>Spectral Archive</i> explores the process of memory reconstruction by bridging the gap between my
                digital
                and physical recollections. It draws upon knowledge from memory-based records-keeping, aiming to
                interrogate the significance of archival documentation in the act of ‘recalling’.
            </div>
        </div>
        <div class="media-section">
            <div class="media-item desktop-3-8">
                {{ gallery("spectral-archive-gallery", [
                "/personal/2023/spectral-archive/day-3-1.jpg",
                "/personal/2023/spectral-archive/day-3-2.jpg",
                "/personal/2023/spectral-archive/day-3-3.jpg",
                "/personal/2023/spectral-archive/day-6-1.jpg",
                "/personal/2023/spectral-archive/day-6-2.jpg",
                "/personal/2023/spectral-archive/day-6-3.jpg",
                ]) }}
            </div>
            <div class="media-item desktop-3-8">
                {{ image("/personal/2023/spectral-archive/archive.jpg") }}
            </div>
        </div>
    </div>

    <div class="section" id="invisible-feast">
        <div class="grid-title">
            <div class="essentials">
                <div class="highlight text">Invisible Feast</div>
                <div class="year">2023</div>
                <div class="types">
                    <div>Editorial Design</div>
                    <div>3D Modelling</div>
                    <div>Branding</div>
                    <div>UI/UX</div>
                </div>
            </div>
        </div>
        <div class="grid-description">
            <div>
                <i>Invisible Feast</i> discusses the diversity and possibilities of future dietary structures in the
                current
                context of the food crisis. By simulating a future in which extinct animals and sustainable protein
                sources are used as ingredients, efforts towards a “future-proof” diet are re-examined from an ironic
                perspective.
            </div>
        </div>

        <div class="media-section">
            <div class="media-item desktop-3-8">
                {{ gallery("invisible-feast-gallery", [
                "/personal/2023/invisible-feast/web-index.jpg",
                "/personal/2023/invisible-feast/web-projects.png",
                "/personal/2023/invisible-feast/web-journal.png",
                "/personal/2023/invisible-feast/web-recipes-1.png",
                "/personal/2023/invisible-feast/web-recipes-2.png",
                "/personal/2023/invisible-feast/web-about.png",
                ]) }}
            </div>
            <div class="media-item desktop-3-8">
                {{ image("/personal/2023/invisible-feast/3-desert.png") }}
            </div>
        </div>

        <div class="icon-section">
            <div class="slider">
                <ul>
                    <li>
                        {{ image("/personal/2023/invisible-feast/appetizer.png") }}
                    </li>
                    <li>
                        {{ image("/personal/2023/invisible-feast/dessert.png") }}
                    </li>
                    <li>
                        {{ image("/personal/2023/invisible-feast/main-course.png") }}
                    </li>
                    <li>
                        {{ image("/personal/2023/invisible-feast/salad.png") }}
                    </li>
                    <li>
                        {{ image("/personal/2023/invisible-feast/staple-food.png") }}
                    </li>
                </ul>
                <div class="overlay-x"></div>
            </div>
            <div class="highlight" style="margin-left: auto; horiz-align: right;">SLIDE →</div>
        </div>
    </div>

    <div class="section" id="the-visitor">
        <div class="grid-title">
            <div class="essentials">
                <div class="highlight">The Visitor</div>
                <div class="year">2022</div>
                <div class="types">
                    <div>Editorial Design</div>
                    <div>Type Design</div>
                    <div>3D Modelling</div>
                </div>
            </div>
        </div>
        <div class="grid-description">
            <div>
                <i>The Visitor</i> explores the hypothesis of a future where humans are able to travel back in time to
                change
                their regretful decisions as "visitors". It discusses my concerns about human’s self-destructive
                tendencies: any attempt to change the past for self-protection will only lead to a more collapsed
                future.
            </div>
        </div>
        <div class="media-section">
            <div class="media-item desktop-3-8">
                {{ gallery("the-visitor-gallery-1", [
                "/personal/2022/the-visitor/drawing-board-7.jpg",
                "/personal/2022/the-visitor/drawing-board-6.jpg",
                "/personal/2022/the-visitor/drawing-board-5.jpg",
                "/personal/2022/the-visitor/drawing-board-4.jpg",
                "/personal/2022/the-visitor/drawing-board-3.jpg",
                "/personal/2022/the-visitor/drawing-board-2-2.jpg",
                ]) }}
            </div>
            <div class="media-item desktop-3-8">
                {{ gallery("the-visitor-gallery-2", [
                "/personal/2022/the-visitor/picture-booklet-1.jpg",
                "/personal/2022/the-visitor/picture-booklet-2.jpg",
                "/personal/2022/the-visitor/picture-booklet-3.jpg",
                ]) }}
            </div>
        </div>
    </div>

    <div class="section" id="gutter-and-soul">
        <div class="grid-title">
            <div class="essentials">
                <div class="highlight">Gutter and Soul</div>
                <div class="year">2022</div>
                <div class="types">
                    <div>Illustration Design</div>
                    <div>Branding</div>
                    <div>UI/UX</div>
                </div>
            </div>
        </div>
        <div class="grid-description">
            <div>
                <i>Gutter and Soul</i> explores the conception of “otherness”: what kind of life is accepted by the
                majority as
                satisfactory, and guaranteed to be free from defects and judgement.
            </div>
        </div>
        <div class="media-section">
            <div class="media-item desktop-2-8">
                {{ gallery("gutter-and-soul-gallery", [
                "/personal/2022/gutter-and-soul/phase-2-cemeteryland.jpg",
                "/personal/2022/gutter-and-soul/phase-1-make-a-wish.jpg",
                ]) }}
            </div>
            <div class="media-item desktop-3-8">
                {{ image("/personal/2022/gutter-and-soul/phase-3-the-dive.jpg") }}
            </div>
        </div>
    </div>

    <div class="section" id="dialogue">
        <div class="grid-title">
            <div class="essentials">
                <div class="highlight">Dialogue</div>
                <div class="year">2022</div>
                <div class="types">
                    <div>Editorial Design</div>
                    <div>Type Design</div>
                    <div>3D Modelling</div>
                </div>
            </div>
        </div>
        <div class="grid-description">
            <div>
                <i>Dialogue</i> discusses the association between attachment orientations and relationship dynamics in
                partners.
            </div>
        </div>
        <div class="media-section">
            <div class="media-item desktop-3-8">
                {{ gallery("dialogue-gallery-1", [
                "/personal/2022/dialogue/alphabet.jpg",
                "/personal/2022/dialogue/poster-mockups.jpg",
                ]) }}
            </div>
            <div class="media-item desktop-3-8">
                {{ gallery("dialogue-gallery-2", [
                "/personal/2022/dialogue/installation-1.jpg",
                "/personal/2022/dialogue/installation-2.jpg",
                ]) }}
            </div>
        </div>
    </div>

    <div class="section" id="another-romance">
        <div class="grid-title">
            <div class="essentials">
                <div class="highlight">Another Romance</div>
                <div class="year">2022</div>
                <div class="types">
                    <div>Editorial Design</div>
                    <div>Video Production</div>
                    <div>3D Modelling</div>
                </div>
            </div>
        </div>
        <div class="grid-description">
            <div>
                <i>Another Romance</i> delves into the core of intimate relationships, examining both the overt and
                subtle
                bonds—such as emotions, shared spaces, and more—that intertwine individuals. It envisions these
                connections
                as a delicate "cocoon," where gestures, emotions, and unspoken messages gradually evolve into the
                cornerstone of their communication, ultimately giving rise to a unique language that remains
                impenetrable to
                outsiders.
            </div>
        </div>
        <div class="media-section">
            <div class="media-item desktop-3-8">
                {{ gallery("another-romance-gallery", [
                "/personal/2021/another-romance/installation-render-1.jpg",
                "/personal/2021/another-romance/installation-render-3.jpg",
                ]) }}
            </div>
            <div class="media-item desktop-3-8">
                {{ image("/personal/2021/another-romance/installation-picture.jpg") }}
            </div>
            <div class="media-item desktop-3-8">
                <div style="padding:56.25% 0 0 0;position:relative;">
                    <!--                    <iframe src="https://player.vimeo.com/video/664246920?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"-->
                    <!--                            allow="autoplay; fullscreen; picture-in-picture; clipboard-write"-->
                    <!--                            style="position:absolute;top:0;left:0;width:100%;height:100%;border:0;"-->
                    <!--                            title="Another Romance"></iframe>-->
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="obloom">
        <div class="grid-title">
            <div class="essentials">
                <div class="highlight">Obloom</div>
                <div class="year">2021</div>
                <div class="types">
                    <div>Type Design</div>
                    <div>Illustration Design</div>
                    <div>Creative Direction</div>
                    <div>Branding</div>
                    <div>UI/UX</div>
                </div>
            </div>
        </div>
        <div class="grid-description">
            <div>
                <i>Obloom</i> discusses the unnoticed moments that play an important role in life. Six growth phases of
                plants are used as analogies representing these moments. Corresponding solutions are also proposed so
                that users will be reminded of the fragmented moments that were once forgotten through these supplies.
            </div>
        </div>
        <div class="media-section">
            <div class="media-item desktop-3-8">
                {{ gallery("obloom-gallery-1", [
                "/personal/2021/obloom/interface-1.jpg",
                "/personal/2021/obloom/interface-2.jpg",
                "/personal/2021/obloom/interface-3.jpg",
                "/personal/2021/obloom/interface-4.jpg",
                ]) }}
            </div>
            <div class="media-item desktop-3-8">
                {{ image("/personal/2021/obloom/compact-disc.jpg") }}
            </div>
            <div class="media-item desktop-3-8">
                {{ image("/personal/2021/obloom/floppy-disc.jpg") }}
            </div>
            <div class="media-item desktop-3-8">
                {{ gallery("obloom-gallery-2", [
                "/personal/2021/obloom/posters-1.jpg",
                "/personal/2021/obloom/posters-2.jpg",
                ]) }}
            </div>
        </div>
    </div>

    <div class="section" id="utopia">
        <div class="grid-title">
            <div class="essentials">
                <div class="highlight">Utopia</div>
                <div class="year">2020</div>
                <div class="types">
                    <div>Editorial Design</div>
                    <div>Type Design</div>
                </div>
            </div>
        </div>
        <div class="grid-description">
            <div>
                <i>Utopia</i> is about childhood trauma and utopian aspirations, which seeks to understand and express
                the lasting impact of adverse family experiences on growth. It aims to challenge societal norms and
                envision a utopian future free from violence and pain.
            </div>
        </div>
        <div class="media-section">
            <div class="media-item desktop-3-8">
                {{ image("/personal/2020/utopia/artboard-2.jpg") }}
            </div>
            <div class="media-item desktop-3-8">
                {{ gallery("utopia-gallery", [
                "/personal/2020/utopia/artboard-1-copy-2.jpg",
                "/personal/2020/utopia/artboard-1-copy-1.jpg",
                "/personal/2020/utopia/artboard-1-copy-5.jpg",
                ]) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}