{% extends 'base.html' %}

{% from "macros.html" import image, gallery, project %}

{% block head %}
<title>OLIVIA ZUO - PERSONAL</title>
<link rel="icon" type="image/x-icon"
      href="https://image-resizer.simonpforster.com/oliviazuo-portfolio/elements/element-cyan.png?width=480">

<link rel="stylesheet" href="{{ url_for('static', filename='styles/page/personal.css') }}">
{% endblock %}

{% block screen %}

{% endblock %}

{% block offscreen %}
<div class="column-container">
    <div class="section" id="rerendered-memory">
        <div class="grid-title">
            <div class="essentials">
                <div class="highlight">RERENDERED MEMORY</div>
                <div class="year">2024</div>
                <div class="types">
                    <div>Editorial Design</div>
                    <div>Type Design</div>
                    <div>Video Production</div>
                </div>
            </div>
            <div class="reference-section">
                <a href="https://vimeo.com/1061780383">Full Video</a>
                <a href="https://ualshowcase.arts.ac.uk/project/600923/cover">Online Showcase</a>
            </div>
        </div>
        <div class="grid-description">
            <div>
                Today, digital technologies are considered as a means of stepping backward - whether physically
                reconstructing obsolete hardware or digitally regurgitating public information films, a
                fascination with capturing media of today in a net of the past is becoming more prevalent. The
                attraction to old technologies and the resurrection of faux-vintage aesthetics through new
                mediums, often referred to as "tech-nostalgia".
            </div>
            <div>
                By investigating the iterative process of digital images in screen devices, my aim is to explore
                the transition from "technologies of memory" to "memory of technologies" within the context of
                the reminiscence of past media technologies in contemporary memory practices. And these
                manifestations of tech-nostalgia reflect a new kind of memory practice which is not driven by
                nostalgia in the classical sense as a longing for the past but rather mediates between the past
                and the present, the analogue and the digital the archival and the performative.
            </div>
        </div>
        <div class="media-section">
            <div class="media-item desktop-3-8">
                {{ image("/personal/2024/rerendered-memory/combine-scan.jpg") }}
            </div>
            <div class="media-item desktop-3-8">
                {{ image("/personal/2024/rerendered-memory/poster-picture-printer.jpg") }}
            </div>
            <div class="media-item desktop-3-8">
                {{ image("/personal/2024/rerendered-memory/poster-scan.jpg") }}
            </div>
        </div>
    </div>

    <div class="section" id="spectral-archive">
        <div class="grid-title">
            <div class="essentials">
                <div class="highlight">SPECTRAL ARCHIVE</div>
                <div class="year">2023</div>
                <div class="types">
                    <div>Editorial Design</div>
                    <div>Type Design</div>
                </div>
            </div>
        </div>
        <div class="grid-description">
            <div>
                Is about the process of memory reconstruction by bridging the gap between my digital and
                physical recollections.
            </div>
            <div>
                It draws upon knowledge from memory-based records-keeping, aiming to interrogate the
                significance of archival documentation in the act of “recalling.”
            </div>
        </div>
        <div class="media-section">
            <div class="media-item desktop-3-8">
                {{ gallery("spectral-archive-gallery", [
                "/personal/2023/spectral-archive/day-3-1.jpg",
                "/personal/2023/spectral-archive/day-3-2.jpg",
                "/personal/2023/spectral-archive/day-3-3.jpg",
                "/personal/2023/spectral-archive/day-6-1.jpg",
                "/personal/2023/spectral-archive/day-6-2.jpg",
                "/personal/2023/spectral-archive/day-6-3.jpg",
                ]) }}
            </div>
            <div class="media-item desktop-3-8">
                {{ image("/personal/2023/spectral-archive/archive.jpg") }}
            </div>
        </div>
    </div>

    <div class="section" id="invisible-feast">
        <div class="grid-title">
            <div class="essentials">
                <div class="highlight text">INVISIBLE FEAST</div>
                <div class="text">2023</div>
                <div class="types">
                    <div>Editorial Design</div>
                    <div>3D Modelling</div>
                    <div>Branding</div>
                    <div>UI/UX</div>
                </div>
            </div>
        </div>
        <div class="grid-description">
            <div>
                Discusses the diversity and possibilities of future dietary structures in the current
                context of the food crisis.
            </div>
            <div>
                By simulating a future in which extinct animals and sustainable protein sources are used as
                ingredients, efforts towards a “future-proof” diet are re-examined from an ironic
                perspective.
            </div>
        </div>

        <div class="media-section">
            <div class="media-item desktop-3-8">
                {{ gallery("invisible-feast-gallery", [
                "/personal/2023/invisible-feast/web-index.jpg",
                "/personal/2023/invisible-feast/web-projects.png",
                "/personal/2023/invisible-feast/web-journal.png",
                "/personal/2023/invisible-feast/web-recipes-1.png",
                "/personal/2023/invisible-feast/web-recipes-2.png",
                "/personal/2023/invisible-feast/web-about.png",
                ]) }}
            </div>
            <div class="media-item desktop-3-8">
                {{ image("/personal/2023/invisible-feast/3-desert.png") }}
            </div>
        </div>

        <div class="icon-section">
            <div class="slider">
                <ul>
                    <li>
                        {{ image("/personal/2023/invisible-feast/appetizer.png") }}
                    </li>
                    <li>
                        {{ image("/personal/2023/invisible-feast/dessert.png") }}
                    </li>
                    <li>
                        {{ image("/personal/2023/invisible-feast/main-course.png") }}
                    </li>
                    <li>
                        {{ image("/personal/2023/invisible-feast/salad.png") }}
                    </li>
                    <li>
                        {{ image("/personal/2023/invisible-feast/staple-food.png") }}
                    </li>
                </ul>
                <div class="overlay-x"></div>
            </div>
            <div class="highlight" style="margin-left: auto; horiz-align: right;">SLIDE →</div>
        </div>
    </div>


    <div class="section" id="the-visitor">
        <div class="grid-title">
            <div class="essentials">
                <div class="highlight">THE VISITOR</div>
                <div class="year">2022</div>
                <div class="types">
                    <div>Editorial Design</div>
                    <div>Type Design</div>
                    <div>3D Modelling</div>
                </div>
            </div>
        </div>
        <div class="grid-description">
            <div>
                Explores the hypothesis of a future where humans are able to travel back in time to change their
                regretful decisions as "visitors".
            </div>
            <div>
                Five refractive mediums are used as carriers of transportation through the past and future to
                express my concerns about human’s self-destructive tendencies with metaphors: any attempt to
                change
                the past for self-protection will only lead to a more collapsed future.
            </div>
        </div>
        <div class="media-section">
            <div class="media-item desktop-3-8">
                {{ gallery("the-visitor-gallery-1", [
                "/personal/2022/the-visitor/drawing-board-7.jpg",
                "/personal/2022/the-visitor/drawing-board-6.jpg",
                "/personal/2022/the-visitor/drawing-board-5.jpg",
                "/personal/2022/the-visitor/drawing-board-4.jpg",
                "/personal/2022/the-visitor/drawing-board-3.jpg",
                "/personal/2022/the-visitor/drawing-board-2-2.jpg",
                ]) }}
            </div>
            <div class="media-item desktop-3-8">
                {{ gallery("the-visitor-gallery-2", [
                "/personal/2022/the-visitor/picture-booklet-1.jpg",
                "/personal/2022/the-visitor/picture-booklet-2.jpg",
                "/personal/2022/the-visitor/picture-booklet-3.jpg",
                ]) }}
            </div>
        </div>
    </div>

    <div class="section" id="gutter-and-soul">
        <div class="grid-title">
            <div class="essentials">
                <div class="highlight">GUTTER AND SOUL</div>
                <div class="year">2022</div>
                <div class="types">
                    <div>Illustration Design</div>
                    <div>Branding</div>
                    <div>UI/UX</div>
                </div>
            </div>
        </div>
        <div class="grid-description">
            <div>
                Explores the conception of “otherness”: what kind of life is accepted by the majority as
                satisfactory, and guaranteed to be free from defects and judgement.
            </div>
            <div>
                A series of surreal scenes and items are used to show the subtle poisoning and emasculation of
                the “minorities."
            </div>
        </div>
        <div class="media-section">
            <div class="media-item desktop-3-8">
                {{ gallery("gutter-and-soul-gallery", [
                "/personal/2022/gutter-and-soul/phase-2-cemeteryland.jpg",
                "/personal/2022/gutter-and-soul/phase-1-make-a-wish.jpg",
                ]) }}
            </div>
            <div class="media-item desktop-3-8">
                {{ image("/personal/2022/gutter-and-soul/phase-3-the-dive.jpg") }}
            </div>
        </div>
    </div>

    <div class="section" id="dialogue">
        <div class="grid-title">
            <div class="essentials">
                <div class="highlight">DIALOGUE</div>
                <div class="year">2022</div>
                <div class="types">
                    <div>Editorial Design</div>
                    <div>Type Design</div>
                    <div>3D Modelling</div>
                </div>
            </div>
        </div>
        <div class="grid-description">
            <div>
                Discusses the association between attachment orientations and relationship dynamics in partners.
            </div>
            <div>
                With pursuit and distancing as the main theme, voices of couples with different attachment types
                in various scenarios are visualised as a typeface to highlight the relational basis of intimate
                violence.
            </div>
        </div>
        <div class="media-section">
            <div class="media-item desktop-3-8">
                {{ gallery("dialogue-gallery-1", [
                "/personal/2022/dialogue/alphabet.jpg",
                "/personal/2022/dialogue/poster-mockups.jpg",
                ]) }}
            </div>
            <div class="media-item desktop-3-8">
                {{ gallery("dialogue-gallery-2", [
                "/personal/2022/dialogue/installation-1.jpg",
                "/personal/2022/dialogue/installation-2.jpg",
                ]) }}
            </div>
        </div>
    </div>

    <div class="section" id="another-romance">
        <div class="grid-title">
            <div class="essentials">
                <div class="highlight">ANOTHER ROMANCE</div>
                <div class="year">2022</div>
                <div class="types">
                    <div>Editorial Design</div>
                    <div>Video Production</div>
                    <div>3D Modelling</div>
                </div>
            </div>
        </div>
        <div class="grid-description">
            <div>
                Explores the essence of intimate relationships and the invisible and explicit links (emotions
                and space etc.) among them: a 'cocoon' woven and constructed from secrets of just between
                couples.
            </div>
            <div>
                Gestures, emotions and unspoken messages gradually become the mainstay of their communication
                within it, to the point of creating a “language system” that is incomprehensible to others.
            </div>
        </div>
        <div class="media-section">
            <div class="media-item desktop-3-8">
                {{ gallery("another-romance-gallery", [
                "/personal/2021/another-romance/installation-render-1.jpg",
                "/personal/2021/another-romance/installation-render-3.jpg",
                ]) }}
            </div>
            <div class="media-item desktop-3-8">
                {{ image("/personal/2021/another-romance/installation-picture.jpg") }}
            </div>
            <div class="media-item desktop-3-8">
                <div style="padding:56.25% 0 0 0;position:relative;">
                    <!--                    <iframe src="https://player.vimeo.com/video/664246920?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"-->
                    <!--                            allow="autoplay; fullscreen; picture-in-picture; clipboard-write"-->
                    <!--                            style="position:absolute;top:0;left:0;width:100%;height:100%;border:0;"-->
                    <!--                            title="Another Romance"></iframe>-->
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="obloom">
        <div class="grid-title">
            <div class="essentials">
                <div class="highlight">OBLOOM</div>
                <div class="year">2021</div>
                <div class="types">
                    <div>Type Design</div>
                    <div>Illustration Design</div>
                    <div>Creative Direction</div>
                    <div>Branding</div>
                    <div>UI/UX</div>
                </div>
            </div>
        </div>
        <div class="grid-description">
            <div>
                Discusses the unnoticed moments that play an important role in life.
            </div>
            <div>
                Six growth phases of plants are used as analogies representing these moments. Corresponding
                solutions are also proposed so that users will be reminded of the fragmented moments that were
                once forgotten through these supplies.
            </div>
        </div>
        <div class="media-section">
            <div class="media-item desktop-3-8">
                {{ gallery("obloom-gallery-1", [
                "/personal/2021/obloom/interface-1.jpg",
                "/personal/2021/obloom/interface-2.jpg",
                "/personal/2021/obloom/interface-3.jpg",
                "/personal/2021/obloom/interface-4.jpg",
                ]) }}
            </div>
            <div class="media-item desktop-3-8">
                {{ image("/personal/2021/obloom/compact-disc.jpg") }}
            </div>
            <div class="media-item desktop-3-8">
                {{ image("/personal/2021/obloom/floppy-disc.jpg") }}
            </div>
            <div class="media-item desktop-3-8">
                {{ gallery("obloom-gallery-2", [
                "/personal/2021/obloom/posters-1.jpg",
                "/personal/2021/obloom/posters-2.jpg",
                ]) }}
            </div>
        </div>
    </div>

    <div class="section" id="utopia">
        <div class="grid-title">
            <div class="essentials">
                <div class="highlight">UTOPIA</div>
                <div class="year">2020</div>
                <div class="types">
                    <div>Editorial Design</div>
                    <div>Type Design</div>
                </div>
            </div>
        </div>
        <div class="grid-description">
            <div>
                Is about childhood trauma and utopian aspirations. It seeks to understand and express the
                lasting impact of adverse family experiences on growth.
            </div>
            <div>
                It explores personal narratives through four chapters, drawing knowledge from media memory
                theories. Through material and textual experimentation, it aims to challenge societal norms and
                envision a utopian future free from violence and pain.
            </div>
        </div>
        <div class="media-section">
            <div class="media-item desktop-3-8">
                {{ image("/personal/2020/utopia/artboard-2.jpg") }}
            </div>
            <div class="media-item desktop-3-8">
                {{ gallery("utopia-gallery", [
                "/personal/2020/utopia/artboard-1-copy-2.jpg",
                "/personal/2020/utopia/artboard-1-copy-1.jpg",
                "/personal/2020/utopia/artboard-1-copy-5.jpg",
                ]) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}