{% macro image(path, fix = "width") %}

<img id="{{ path }}" src="{{ image_resizer + path  + '?width=4' }}"  path= "{{ path }}" fix="{{ fix }}" class="pixel">

{% endmacro %}


{% macro gallery(id, paths, fix = "width") %}



{% endmacro %}

{% macro project(id) %}

<div class="section" id="{{ id }}">

    <div class="desktop-60">
        {{ caller() }}
    </div>
</div>

{% endmacro %}


{% macro product(name, description, price, imagePath) %}

<div class="product">
    {{ image(imagePath) }}
    <div class="head">
        <div class="name">{{ name }}</div>
        <div class="price">£{{ price / 100 }}</div>
    </div>
    <div class="description">{{ description }}</div>
    <button>Add to cart</button>
</div>

{% endmacro %}
