.pure-g {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    width: 100%;
}

.header {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    width: 100%;
}

.footer-1-6, .footer-2-6, .normal-1-6, .footer-left, .footer-right {
    padding: 0 0.75rem 0;
}

.footer-1-2 {
    box-sizing: border-box;
    width: 50%;
    display: flex;
    flex-flow: row;
    align-content: flex-start;
}

@media screen and (min-width: 701px) {

    .wide-4, .slim-4, .normal-1-6, .normal-2-6, .footer-1-6, .footer-2-6 {
        display: flex;
        flex-direction: column;
        vertical-align: baseline;
        text-rendering: auto;
        box-sizing: border-box;
    }

    .wide-4 {
        width: 27%;
    }

    .slim-4 {
        width: 19%;
    }

    .column-container {
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-flow: column;
    }

    .normal-1-6, .footer-1-6 {
        width: 16.66%;
        padding: 0 0.75rem 0;
    }

    .footer-2-6 {
        width: 33.32%;
    }

    .footer-left {
        box-sizing: border-box;
        width: 33.33%;
    }

    .footer-right {
        box-sizing: border-box;
    }

    #instagram-footer {
        width: 33.3%;
    }

    #mailto-footer {
        margin-left: auto;
    }
}

@media screen and (max-width: 700px) {
    .header {
        display: flex;
        flex-flow: column;
        align-content: flex-start;
        width: 100%;
    }

    .wide-4, .slim-4 {
        display: flex;
        flex-direction: column;
        vertical-align: baseline;
        text-rendering: auto;
        box-sizing: border-box;
    }

    .normal-1-6, .normal-2-6, .footer-1-6, .footer-2-6 {
        display: flex;
        flex-direction: column;
        vertical-align: baseline;
        text-rendering: auto;
        box-sizing: border-box;
    }

    .normal-1-6 {
        width: 50%;
    }

    #footer {
        overflow-wrap: break-word;
    }

    .footer-left {
        box-sizing: border-box;
    }

    .footer-right {
        box-sizing: border-box;
        margin-left: auto;
    }
}