.pure-g {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    width: 100%;
}

.header {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    width: 100%;
}

.footer-left, .footer-right {
    padding: 0 0.75rem 0;
}

.footer-1-2 {
    box-sizing: border-box;
    width: 50%;
    display: flex;
    flex-flow: row;
    align-content: flex-start;
}

.column-container {
    padding: 0;
    margin: 0;
    column-gap: 0;
    width: 50%;
}

#index-container {
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 701px) {

    .wide-4, .slim-4 {
        display: flex;
        flex-direction: column;
        vertical-align: baseline;
        text-rendering: auto;
        box-sizing: border-box;
    }

    .wide-4 {
        width: 27%;
    }

    .slim-4 {
        width: 19%;
    }

    .column-container {
        column-count: 3;
    }

    .footer-left {
        box-sizing: border-box;
        width: 33.33%;
    }

    .footer-right {
        box-sizing: border-box;
    }

    #instagram-footer {
        width: 33.3%;
    }

    #mailto-footer {
        margin-left: auto;
    }
}

@media screen and (max-width: 700px) {
    .header {
        display: flex;
        flex-flow: column;
        align-content: flex-start;
        width: 100%;
    }

    .column-container {
        column-count: 1;
    }

    .wide-4, .slim-4 {
        display: flex;
        flex-direction: column;
        vertical-align: baseline;
        text-rendering: auto;
        box-sizing: border-box;
    }

    #footer {
        overflow-wrap: break-word;
    }

    .footer-left {
        box-sizing: border-box;
    }

    .footer-right {
        box-sizing: border-box;
        margin-left: auto;
    }
}