#modal {
    display: none; /* Hidden by default */
    backdrop-filter: blur(1rem);
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: var(--grey); /* Black w/ opacity */
    width: 100vw;
    height: 100dvh;
}

.modal-content {
    display: flex;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0.75rem;
    align-content: center;
    -webkit-align-content: center;
}

#modal-image {
    display: inline-block;
    object-fit: contain;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}
