
nav {
    padding: 1.5rem;
    box-sizing: border-box;

    & .dropdown-content p a {
        display: block;
    }
}


@media screen and (max-width: 700px) {
    nav {
        min-height: 90svh;
    }
}

/* Desktop */
@media screen and (min-width: 700px) {

    nav {
        position: fixed;
        transition: 0.3s ease-in-out;
        padding: 1.5rem;
        z-index: 998;
    }

    nav.hide {
        transform: translateY(-100%);
    }

    nav .dropdown {
        &:not(:hover) .dropdown-content {
            opacity: 0;
            height: 0;
            max-height: 0;
            visibility: hidden;
        }

        &:hover .dropdown-content {

        }

        & .dropdown-content {
            height: 0;

            & p a.highlight {
                opacity: 0;
                height: 0;
                max-height: 0;
                visibility: hidden;
                transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
            }

            & p a:not(.highlight) {
                opacity: 0;
                height: 0;
                max-height: 0;
                visibility: hidden;
                transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
            }
        }

        &:hover {
            & .dropdown-content {
                height: auto;

                & p a.highlight {
                    opacity: 1;
                    height: auto;
                    max-height: 1rem;
                    visibility: visible;
                }

                & p:has(a:hover) {

                    a:not(.highlight) {
                        opacity: 1;
                        height: auto;
                        max-height: 1rem;
                        visibility: visible;
                    }
                }
            }
        }
    }
}