nav {
    padding: 1.5rem;
    box-sizing: border-box;
    z-index: 998;

    & .dropdown-content p a {
        display: block;
    }
}

@media screen and (max-width: 700px) {
    nav {
        min-height: 90svh;
        position: absolute;
    }
}

/* Desktop */
@media screen and (min-width: 700px) {
    nav {
        position: fixed;
        transition: 0.3s ease-in-out;
        padding: 1.5rem;
    }

    nav.hide {
        transform: translateY(-100%);
    }

    nav .dropdown-content {
        display: none;
    }
}
