#products {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
}

.product {
    box-sizing: border-box;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.product .head {
    display: flex;
    flex-direction: row;
    padding-top: 0.75rem;
}

.product .head .name {
    text-transform: uppercase;
}

.product .head .price {
    text-align: right;
    flex-grow: 2;
}

.product img {
    aspect-ratio:1;
    object-fit: cover;
}

.product button {
    margin-top: auto;
}

.product .description {
    padding: 0.75rem 0 0.75rem;
}
