<div class="essentials">
    <div class="highlight">{{ project_name }}</div>
    <div class="year">{{ year }}</div>
    <div class="types">
        {{ project_tags project_id=project_id }}
    </div>
</div>
