<div class="essentials">
    <div class="highlight">{{ project_name }}</div>
    <div class="year">{{ year }}</div>
    <div class="tags">
        {{#each tags}}
            <div>{{ this }}</div>
        {{/each}}
    </div>
</div>
