#commercial .highlight {
    color: rgb(0, 0, 255);
    text-decoration-color: rgb(0, 0, 255);
}

#offscreen .highlight {
    color: rgb(0, 0, 255);
    text-decoration-color: rgb(0, 0, 255);
}

#commercial .dropdown-content {
    visibility: visible;
}

#new-balance-illustrations > img {
    padding-bottom: 1.5rem;
}

@media screen and (min-width: 701px) {
    #screen {
        height: 70svh;
    }
}

@media screen and (max-width: 700px) {
    #screen {
        height: 100svh;
    }

    .header #commercial {
        height: 70%;
    }

    .header .dropdown:not(#commercial) {
        height: 10%;
    }

    .dropdown-content {
        display: none;
    }

    #commercial .dropdown-content {
        display: block;
    }
}