#index .highlight {
    color: rgb(255, 59, 228);
    text-decoration-color: rgb(255, 59, 228);
}

#offscreen .highlight {
    color: rgb(255, 59, 228);
    text-decoration-color: rgb(255, 59, 228);
}

#archive-arrow {
    color: rgb(255, 59, 228);
    text-decoration-color: rgb(255, 59, 228);
}

#index .dropdown-content {
    visibility: visible;
}

@media screen and (min-width: 701px) {
    #screen {
        height: 100svh;
    }
}

@media screen and (max-width: 700px) {
    #screen {
        height: 100svh;
    }

    .header  #index {
        height: 70%;
    }

    .header .dropdown:not(#index) {
        height: 10%;
    }

    .dropdown-content {
        display: none;
    }

    #index .dropdown-content {
        display: block;
    }
}