#index a {
    color: rgb(255, 59, 228);
    text-decoration-color: rgb(255, 59, 228);
}

.highlight a {
    color: rgb(255, 59, 228);
    text-decoration-color: rgb(255, 59, 228);
}

#index .dropdown-content {
    visibility: visible;
}

@media screen and (max-width: 700px) {
    .header  #index {
        height: 70%;
    }

    .header .dropdown:not(#index) {
        height: 10%;
    }

    .dropdown-content {
        display: none;
    }

    #index .dropdown-content {
        display: block;
    }
}