#personal .highlight {
    color: rgba(29, 200, 177, 0.85);
    text-decoration-color: rgba(29, 200, 177, 0.85);
}

#offscreen .highlight {
    color: rgba(29, 200, 177, 0.85);
    text-decoration-color: rgba(29, 200, 177, 0.85);
}


#personal .dropdown-content {
    visibility: visible;
}

div.text > div.text > div:not(div.highlight) {
    text-indent: 2rem;
}

@media screen and (min-width: 701px) {
    #screen {
        height: 70svh;
    }
}

@media screen and (max-width: 700px) {
    #screen {
        height: 100svh;
    }

    .header #personal {
        height: 70%;
    }

    .header .dropdown:not(#personal) {
        height: 10%;
    }

    .dropdown-content {
        display: none;
    }

    #personal .dropdown-content {
        display: block;
    }
}